@model Lab1.Models.SACH

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chitietsach</h2>

<div style="margin-top: 100px">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sácha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaban)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.Raw(Model.Mota)

        </dd>

        <dt>
            Ảng bìa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anhbia)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Mã chủ đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCD)
        </dd>

        <dt>
            Mã nhà xuất bản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ĐIỀU  CHỈNH", "Suasach", new { id = Model.Masach }) |
    @Html.ActionLink("QUAY LẠI", "Sach")
</p>
