@using Lab1.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Lab1.Models.SACH>

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ THÔNG TIN SÁCH</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Themmoisach")
</p>

<table class="table" border="1">
    <tr>
    <tr>
        <th>Tên sách</th>
        <th>Giá bán</th>
        <th>Mô tả</th>
        <th>Ảnh bìa</th>
        <th>Ngày cập nhật</th>
        <th>Số lượng tồn</th>
        <th>Chủ đề</th>
        <th>Nhà xuất bản</th>
        <th>Hành động</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td>
                @Html.Raw(item.Mota)
            </td>
            <td>
                <img style="width:140px; height:140px" src="@Url.Content("~/Content/images/" + item.Anhbia)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Suasach", new { id = item.Masach }) |
                @Html.ActionLink("Chi tiết", "Chitietsach", new { id = item.Masach }) |
                @Html.ActionLink("Xóa", "Xoasach", new { id = item.Masach })
            </td>
        </tr>
    }

</table>

<p>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
<div class="MenuTrang" style="margin-top: 30px">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
</div>

<style>
    .MenuTrang li {
        display: inline;
        padding: 10px;
        background-color:cornflowerblue;
        font-size: large;
        font-weight: bold;
        justify-content: center;
        border-left: solid;
        border-color: black;
    }
</style>
