﻿@using Lab1.Models
@model List<Giohang>
@{
    ViewBag.Title = "Dathang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold;">
        <td>Tên sách</td>
        <td>Ảnh bìa</td>
        <td>Số lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>
        <td>Hành động</td>
        <td>Số lương</td>
        <td><td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold;">
            <td>@item.sTensach</td>
            <td><img style="width:80px; height:80px" src="~/Content/images/@item.sAnhbia" /></td>
            <td>@item.iSoluong</td>
            <td>@String.Format("{0:0,0}", item.dDongia) VNĐ</td>
            <td>@String.Format("{0:0,0}", item.dThanhtien) VNĐ</td>
            <td>
                @Html.ActionLink("Xóa", "XoaGioHang")
            </td>
            <td>
                @using (Html.BeginForm("Capnhatgiohang", "GioHang", new { iMasach = item.iMasach }))
                {
                    <input type="number" name="SoLuong" value="@item.iSoluong" />
                <td><input type="submit" value="Cập nhật" /></td>
                }

            </tr>
        }
    <tr style="text-align:center; font-weight:bold; color:red">
        <td colspan="5">Số lượng sách: @ViewBag.Tongsoluong</td>
        <td colspan="3">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
    </tr>
    <tr>
        <td style="font-weight: bold; color: blue; text-align:right;" colspan="8">
            @Html.ActionLink("TRỞ VỀ GIỎ HÀNG", "GioHang", "GioHang")
        </td>
    </tr>
</table>

<h2 style="text-align:center">THÔNG TIN ĐẶT HÀNG</h2>
@{
    var KHACHHANG = (KHACHHANG)Session["Taikhoan"];
}
@if (KHACHHANG != null)
{
    <h3>KHÁCH HÀNG: @KHACHHANG.Taikhoan</h3>
    using (Html.BeginForm())
    {
        <table align="center">
            @Html.ValidationSummary(true)
            <tr style="height:48px">
                <td>Họ tên khách hàng:</td>
                <td>@KHACHHANG.HoTen</td>
            </tr>
            <tr style="height:48px">
                <td>Địa chỉ:</td>
                <td>@KHACHHANG.DiachiKH</td>
            </tr>
            <tr style="height:48px">
                <td>Điện thoại:</td>
                <td>@KHACHHANG.DienthoaiKH</td>
            </tr>
            <tr style="height:48px">
                <td>Ngày đặt:</td>
                <td>@DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr style="height:48px">
                <td>Ghi chú:</td>
                <td><textarea style="width:250px" name="Ngaygiao"></textarea></td>
            </tr>
            <tr style="height:48px">
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="ĐỒNG Ý ĐẶT HÀNG" />
                </td>
            </tr>
        </table>
    }
}